html,
body,
.numlogo {
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);

    animation: hue 15s infinite linear;
    -webkit-animation: hue 15s infinite linear;
}

header {
  min-height: 100vh;
  background-color: #212121;
}

.numlogo {
	display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
    font-family: 'Merriweather Sans', Roboto, sans-serif;
    font-size: 75vmin;
    
    /* gradient animation */
    color: #f35626;

    background-clip: text;
    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;
}

th {
    background-color: #0091EA;
    border: black solid 1px !important;
    font-weight: 500;
}

.table, .table td { 
    font-size: 18px;
    font-weight: 300;
    background-color: #595959;
    color:white;
    border: #000 solid 1px !important;
    border-bottom: 0px !important;
    border-top: 0px !important;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #404040;
}

table.dataTable thead th {
    position: relative;
    background-image: none !important;
}
 
table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute;
    top: 12px;
    right: 8px;
    display: block;
    font-family: FontAwesome;
}

table.dataTable thead th.sorting:after {
    content: "\f0dc";
    color: #ddd;
    font-size: 0.8em;
    padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
    content: "\f0de";
}
table.dataTable thead th.sorting_desc:after {
    content: "\f0dd";
}

@keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}