html,
body {
  height: 100%;
  background-color: #212121;
  color: #FFF;
  font-family: Roboto,sans-serif;
}

section,
footer {
    padding-top: 50px;
    color: #FFF;
}

header {
  min-height: 100vh;
  background-color: #212121;
  background: radial-gradient(#000 -5%, #212121);
}

.mplogo1,
.mplogo2,
.btn {
    font-family: 'Merriweather Sans', Roboto, sans-serif;

    color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);    

    animation: hue 15s infinite linear;
    -webkit-animation: hue 15s infinite linear;
}

.mplogo1,
.mplogo2 {
    background-clip: text;
    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;
}

.mplogo1 {
    margin-bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
    font-size: 65vmin;
    text-shadow: 0px 0px 100px #FF0000;
}

.mplogo2 {
    font-size: 4em;
    margin-left: 0.5em;
    text-shadow: 0px 0px 30px #FF0000;
}

.jarallax {
    position: relative;
    z-index: 0;
    min-height: 50vh;
}

.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
}

th {
    background-color: #0091EA;
    border: black solid 1px !important;
    font-weight: 500;
}

.table, .table td { 
    font-size: 18px;
    font-weight: 300;
    background-color: #595959;
    color:white;
    border: #000 solid 1px !important;
    border-bottom: 0px !important;
    border-top: 0px !important;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #404040;
}

table.dataTable thead th {
    position: relative;
    background-image: none !important;
}
 
table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute;
    top: 12px;
    right: 8px;
    display: block;
    font-family: FontAwesome;
}

table.dataTable thead th.sorting:after {
    content: "\f0dc";
    color: #ddd;
    font-size: 0.8em;
    padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
    content: "\f0de";
}
table.dataTable thead th.sorting_desc:after {
    content: "\f0dd";
}

@keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}