@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Play:400,700);

@over-there {
  font-family: Over There;
  src: "../font/Over There.ttf";
}

html,
body {
  height: 100%;
    background-color: #0F0F0F;
    color: #FFF;
    font-family: Roboto,sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Play,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

a {
    color: #0288D1-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #00A5FF;
}

.intvlogo {
	font-family: 'Roboto Condensed', Arial, sans-serif;
	font-size: 12.5vw;
	font-weight: 900;
	text-shadow: 0px 8px 0px rgba(31, 31, 31, 0.2);
	-webkit-transform: perspective(15vw) rotateX(20deg);
	-moz-transform: perspective(15vw) rotateX(20deg);
	-ms-transform: perspective(15vw) rotateX(20deg);
	-o-transform: perspective(15vw) rotateX(20deg);
	transform: perspective(15vw) rotateX(20deg);
}

.modpacklogo {
  font-family: 'Over There', serif;
  font-size: 11vw;
}

.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-family: Play, sans-serif;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: 1px solid #0288D1;
  color: #0288D1;
  background-color: transparent;
}

.btn:hover,
.btn:focus {
  border: 1px solid #00A5FF;
  outline: 0;
  color: #000;
  background-color: #00A5FF;
}

.valign {
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.overlay {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
    margin: 50px 0;
}

.footerp {
    margin: 0 0 25px;
    font-size: 10px;
    line-height: 1.5;
}

.content-section {
    padding-top: 50px;
}

th {
    background-color: #2196F3;
    border: black solid 1px !important;
    font-weight: 500;
}

.table, .table td { 
    font-size: 18px;
    font-weight: 300;
    background-color: #595959;
    color:white;
    border: #000 solid 1px !important;
    border-bottom: 0px !important;
    border-top: 0px !important;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #404040;
}

table.dataTable thead th {
    position: relative;
    background-image: none !important;
}
 
table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute;
    top: 12px;
    right: 8px;
    display: block;
    font-family: FontAwesome;
}

table.dataTable thead th.sorting:after {
    content: "\f0dc";
    color: #ddd;
    font-size: 0.8em;
    padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
    content: "\f0de";
}
table.dataTable thead th.sorting_desc:after {
    content: "\f0dd";
}