body {
    background-color: #212121;
    color: #ffffff;
    font-family: Lato, Roboto, sans-serif;
    background-image: url("../img/cloud-bg.jpg");
    background-repeat: no-repeat;
    background-position: right; 
    background-size: cover;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p, a, .btn {
    font-weight: 300;
}

header {
    height: 100vh;
}

a {
    color: #03A9F4;
}

a:hover {
    -webkit-transition: 0.35s;
	-o-transition: 0.35s;
	transition: 0.35s; 
    color: rgba(3, 168, 244, 0.75);
}

.window {
    z-index: -100;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 50%; 
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-28vmin);
    transform: translateX(-50%) translateY(-28vmin);
    width: 78vmin;
}

.qvlogo {
    font-size: 20vmin;
    margin-top: 10vmin;
}

.qvsubtitle {
    font-size: 5vmin;
    margin-top: 0px;
}

.dlbtn {
    font-size: 3vmin;
    margin-top: 5vmin;
    min-width: 50vmin;
    min-height: 10vmin;
    border-radius: 2vmin;
    display: inline-flex;
    align-items: center;
    justify-content: center;  
}

.dlbtn:hover {
    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    -moz-transition: 0.35s;
    transition: 0.35s;
    color: #151515 !important;
}

.dlbtn:active {
    -webkit-transition: 0s;
    -o-transition: 0s;
    -moz-transition: 0s;
    transition: 0s;
    color: #FFFFFF !important;
}

.dlgrp
.dlgrp1,
.dlgrp2,
.dlgrp3,
.dlgrp4 {
    font-size: 3vmin;
    margin-top: 5vmin;
    width: 12.6vmin;
    min-height: 10vmin;
    border-radius: 2vmin;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.dlgrp1:hover,
.dlgrp2:hover,
.dlgrp3:hover,
.dlgrp4:hover {
    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    -moz-transition: 0.35s;
    transition: 0.35s;
    color: #151515 !important;
}

.dlgrp1:active,
.dlgrp2:active,
.dlgrp3:active,
.dlgrp4:active {
    -webkit-transition: 0s;
    -o-transition: 0s;
    -moz-transition: 0s;
    transition: 0s;
    color: #FFFFFF !important;
}

.lowerlabel {
    font-size: 2vmin;
    margin-top: 3vmin;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }