/* Font rendering fix for macOS */
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#bgvid {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -999;
    top: 0;
    left: 0;
}

body {
    background-color: #000000;
    background-image: url("../img/thumbnail.jpg");
    
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    color: #ffffff;
    font-family: Lato, "Open Sans", sans-serif
}

h1, h2, .btn {
    font-weight: 300;
}

a {
    color: #03A9F4;
}

a:hover {
    -webkit-transition: 0.35s;
	-o-transition: 0.35s;
	transition: 0.35s; 
    color: rgba(3, 168, 244, 0.75);
}

.qvheading {
    font-size: 4em;
}

@media (min-width: 991.98px)
{
    .changelogheading {
        writing-mode: sideways-lr;
        text-orientation: sideways;
        font-size: 6.5em;
        transform: translate(-0.25em);
    }
}

.changelog {
    font-size: 1.2em;
}

.header {
    background-color: #121212;
    box-shadow: 0 2px 4px rgba(0,0,0,0.7);
    z-index: 3;
    position: relative;
}

.navbar-nav .nav-item .nav-link, .navbar-brand {
	color: #fff;
	-webkit-transition: 0.35s;
	-o-transition: 0.35s;
	transition: 0.35s;
}

.navbar-nav .nav-item .nav-link:hover {
	color: rgba(255, 255, 255, 0.75);
}

.navbar-brand:hover {
    color: #ffffff;
}

.outside {
    background-color: #292929;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.8)
}

@media (max-width: 575.98px)
{
    .outside {
        border-radius: 0em;
        margin-top: 0em;
        margin-bottom: 0em;
    }
}

/* footer {
    box-shadow: 0px 8px 8px rgba(0,0,0,0.8);
} */

.section {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.firstsection {
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);
    background-color: #212121;
    z-index: 2;
    position: relative;
}

.nonaltsection {
    box-shadow: 0 2px 4px rgba(0,0,0,0.6), 0 -2px 4px rgba(0,0,0,0.6);
    background-color: #212121;
    z-index: 4;
    position: relative;
}

.altsection {
    background-color: #292929;
    z-index: 1;
    position: relative;
}

.window {
    background-color: #212121b0;
}

.btn {
    border-radius: 0.2em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    -moz-transition: 0.35s;
    transition: 0.35s;
    color: #252525 !important;
}

.btn:active {
    -webkit-transition: 0s;
    -o-transition: 0s;
    -moz-transition: 0s;
    transition: 0s;
    color: #FFFFFF !important;
}

.dlbtn {
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    min-width: 10em;
    min-height: 1em;
}

.credits {
    color: #505050;
    font-size: .7em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.credits a {
    color: #666666;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}