@import "../../node_modules/bulma/sass/utilities/initial-variables";

$intv-bg-color: #0e141c;

$intv-bg-accent: #182b39;

$body-background-color: $intv-bg-color;
$family-sans-serif: 'Poppins', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$title-family: 'Exo 2', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$subtitle-family: $title-family;
$button-family: $title-family;

$title-color: white;
$subtitle-color: white;
$text: white;

// "Seafoam" link style
// $link: #2AB7B7;
// $link-hover: #37d2d2;

// Traditional link style
// $link: #3273dc;
// $link-hover: #209cee;

// "Combined" link style
$link: #2E95CA;
$link-hover: #2AB7B7;

$tabs-toggle-link-active-background-color: white;
$tabs-toggle-link-active-color: $intv-bg-color;
$tabs-toggle-link-hover-background-color: white;
$tabs-toggle-link-radius: 7px;

$control-radius: 7px;

$navbar-background-color: transparent;
$navbar-item-color: white;
$navbar-item-hover-background-color: transparent;
$navbar-dropdown-item-hover-background-color: transparent;


@import "../../node_modules/bulma/bulma.sass";

// Utility Classes
.has-margin-auto {
    margin: auto;
}

.has-position-absolute {
    position: absolute;
}

// Styling tweaks
a {
	transition: 0.1s;
}

//Style code blocks a little
code {
    color: lightgray;
    background-color: #121212;
}

//Style code blocks a little
pre {
    color: lightgray;
    background-color: #121212;
}


// Custom site-wide classes
.intvfooter {
	text-align: center;
	color: #525252;
    font-size: 0.8em;
    padding-bottom: .5em;
}

.intvbutton {
    @extend .button, .is-primary, .is-inverted, .is-outlined;
    transition: 0.2s;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    &:hover, &:focus {
        color: $intv-bg-color;
        border-color: #FFFFFF;
    }
    &:active {
        color: #FFFFFF;
        border-color: #FFFFFF;
        background-color: #FFFFFF;
    }
    &:focus:not(:active) {
        box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25);
    }
}

.intvsubtleshadow {
    box-shadow: 0em 0.2em 0.4em #000;
}

.intvshadow {
    box-shadow: 0em 0.375em 0.75em #000;
}

a:hover {
    .intvhighlight {
        color: black;
        background-color: white;
        box-shadow: 0em 0em 0.5em white;
    }
    .intvnohighlight {
        color: white;
    }
    &:active {
        .intvhighlight, .intvnohighlight {
            color: white;
        }
    }
}

.intvhighlight {
    background-color: white;
    color: $intv-bg-color;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    font-weight: 600;
    display: inline-block;
    transition: 0.2s;
}

.intvnohighlight {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    font-weight: 600;
    transition: 0.2s;
}

.intvoverlay {
    background: rgba($color: $intv-bg-color, $alpha: 0.75);
    -webkit-backdrop-filter: saturate(100%) blur(20px);
    backdrop-filter: saturate(100%) blur(20px);
}
