@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../node_modules/bulma/sass/utilities/derived-variables.sass";
@import "../../node_modules/bulma/sass/utilities/mixins.sass";

.logo {
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 20vw;
    font-weight: 600;
    @include touch {
        font-size: 30vw;
    }
    visibility: hidden;
    mix-blend-mode: screen;
}

#logoshadow {
    mix-blend-mode: normal;
    text-shadow: 0 0 2rem black;
    color: transparent;
}

#logotext {
    position: absolute;
    top: 65%;
    left: 50%;
    font-size: 7vw;
    font-weight: 300;
    @include touch {
        font-size: 12vw;
    }
    background: linear-gradient(to right, white 50%, transparent 50%);
    background-size: 203%;
    background-position: 99%;
    color: transparent;
    line-height: 1
}

#canvas {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.parallaxbg {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#backgroundbit {
    position: absolute;
    background-image: url(../img/intvultrablur3.jpg);
    height: 100vh;
    width: 100vw;
    visibility: hidden;
    z-index: -1;
}

#underbackgroundbit {
    position: relative;
    z-index: 10;
    height: 100vh;
}

.displaysection {
    height: 35rem;
    padding-top: 5em;
    padding-bottom: 5rem;
    position: relative;
}

.qviewsection {
    background-image: linear-gradient(rgba(21,21,21,0.7), rgba(21,21,21,0.7)), url("../../qview/assets/img/rainbg.jpg");
    z-index: 9;
}

.contactsection {
    z-index: 8;
    margin: auto;
    @include tablet {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

.has-perspective {
    perspective: 30em;
}