@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Play:400);

body {
	background-image: url("../img/intv4_defocusbackground.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	color: #FFF;
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Play, sans-serif;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border: 1px solid #0288D1;
    color: #0288D1;
    background-color: transparent;
}

.btn:hover,
.button:focus {
    border: 1px solid #00A5FF;
    outline: 0;
    color: #000;
    background-color: #00A5FF;
}

.valign {
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	display: -webkit-flex;  /* For Safari */
	-webkit-justify-content: center; /* For Safari */ 
	-webkit-align-items: center; /* For Safari*/
}