@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);

body {
	background-color: #212121;
	color: #FFF;

}
h1 {
	font-family: 'Roboto Condensed', Arial, sans-serif;
	font-weight: 75em;
	font-size: 200px;
}

.valign {
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	display: -webkit-flex;  /* For Safari */
	-webkit-justify-content: center; /* For Safari */ 
	-webkit-align-items: center; /* For Safari*/
}