.navbar {
	background: rgba(21, 21, 21, 0.9);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	font-family: 'Varela Round', sans-serif;
}

.navbar-brand {
	position: absolute;
	left: calc(50% - 12.06px);
}

.navbar-collapse {
	width: 35%;
	flex-grow: 0;
}
