---
title: Benjamin Owad
description: The personal website of Benjamin Owad.
layout: layouts/base-nav.njk
eleventyNavigation:
  key: whoami
  order: 1
---
<div class="container mx-auto max-w-4xl">
    <div class="columns-2 pt-16">
        <h1 class="font-display font-bold text-4xl pb-4">Benjamin Owad</h1>
        <div class="prose dark:prose-invert">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <img src="/bowad/assets/img/bowad.jpg" class="shadow-xl rounded-lg aspect-[3/4] object-cover w-60 mx-auto">
    </div>
</div>