@charset "utf-8";

/* Font rendering fix for macOS */
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
    overflow: auto;
}

$intv-bg-color: #050710;

$title-color: white;
$subtitle-color: white;
$text: white;

$tabs-toggle-link-active-background-color: white;
$tabs-toggle-link-active-color: $intv-bg-color;
$tabs-toggle-link-hover-background-color: white;

@import "bulma.sass";

a {
	transition: 0.1s;
}